html,body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-position: center center;
  background-color: #DFDBE5;
  background-image: url(https://thumbs.dreamstime.com/b/fundo-do-branco-c%C3%B3digo-bin%C3%A1rio-vetor-dados-grandes-e-corte-descriptografia-criptografia-de-programa%C3%A7%C3%A3o-computador-que-flui-100965977.jpg);
}

.titulo-padrao {
  margin-top: 0;
}

.botao-padrao {
  padding: 10px;
  color:white;
  background: gray;
  border: 3px double white;
} 

#root {
  padding: 20px;
  background-color: white;
}
